<div class="container">
  <div class="row">
    <h1>KARE BULMACA</h1>
    <div class="col-md-10 col-xs-12">
      <section class="puzzle-container" (click)="maximize()" id="puzzle-container">
        <input type="text" name="" maxlength="1" autofocus (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
        <input type="text" name="" maxlength="1" (keyup)="autofocus($event)">
      </section>
    </div>
    <div class="annotation col-md-2 col-xs-12">
      <h3>Açıklamalar:</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi, laudantium? Quisquam excepturi mollitia rerum magni modi pariatur tempore distinctio nobis iste ad, odit corporis libero, a praesentium, non doloribus soluta?</p>
    </div>
  </div>
</div>